.RegisterPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 0;
  margin-bottom: 0;
}
  
.footer {
    /* Your existing CSS styles for the footer */
    margin-top: auto;
}